[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
aiosqlite = "*"
requests = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncpg"], version = "*"}
asyncpg = "*"
psycopg2-binary = "*"
pytest = "*"
alembic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
email-validator = "*"
aiosqlite = "*"
requests = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
fastapi-pagination = {extras = ["sqlalchemy"], version = "*"}

[requires]
python_version = "3.8"
