[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
psycopg2-binary = "*"
pytest = "*"
alembic = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[requires]
python_version = "3.8"
